name: Build DevBuild
on:
    push:
        branches:
            - main
        paths:
            - .github/workflows/build.yml
            - src/**
            - browser/**
            - scripts/build/**
            - package.json
            - pnpm-lock.yaml
env:
    FORCE_COLOR: true

jobs:
    Build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - uses: pnpm/action-setup@v2 # Install pnpm using packageManager key in package.json

            - name: Use Node.js 18
              uses: actions/setup-node@v3
              with:
                  node-version: 18
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build web
              run: pnpm buildWeb --standalone

            - name: Build
              run: pnpm build --standalone

            - name: Generate plugin list
              run: pnpm generatePluginJson dist/plugins.json

            - name: Clean up obsolete files
              run: |
                  rm -rf dist/*-unpacked Vencord.user.css vencordDesktopRenderer.css vencordDesktopRenderer.css.map

            - name: Get some values needed for the release
              id: release_values
              run: |
                  echo "release_tag=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
            - name: Zip Release
              # You may pin to the exact commit or the version.
              # uses: TheDoctor0/zip-release@a24011d8d445e4da5935a7e73c1f98e22a439464
              uses: TheDoctor0/zip-release@0.7.1
              with:
                # Filename for archive
                filename: fine.zip
                # Base path for archive files
                path: .
                
            - name: Upload a Build Artifact
              uses: actions/upload-artifact@v3.1.2
              with:
                # Artifact name
                name: test
                # A file, directory or wildcard pattern that describes what to upload
                path: dist/
                # The desired behavior if no files are found using the provided path.


